/* CSS reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.cube{
    border: 1px solid #000000;
    display: flex;
    flex-direction: row;
    height: 600px;
    perspective: 600px;
    transform-style: preserve-3d;
    text-align: center;
    color: #000000;
    font-size: 20px;
}

.box{
    width: 100px;
    height: 100px;
   
    border: 1px solid black;
   
}
.box1{
    background-color: red;
    opacity: 0.8;
    transform: translate3d(300px,150px,50px) rotate3d(100,0,0,90deg);
}
.box2{
    background-color: blue;
    transform:  translate3d(200px,100px,0px);
    opacity: 0.8;
}
.box3{
    background-color: green;
    transform: translate3d(50px,100px,50px) rotateY(90deg);
    opacity: 0.8;
}
.box4{
    background-color: bisque;
    transform: translate3d(0px,100px,100px);
    opacity: 0.8;
}
.box5{
    background-color: orange;
    transform: translate3d(-50px,100px,50px) rotateY(90deg) ;
    opacity: 0.8;
}
.box6{
    background-color: purple;
    transform: translate3d(-200px,50px,50px) rotate3d(100,0,0,90deg) ;
    opacity: 0.8;
    
}
/* .box:hover{
    transform: rotateX(360deg);
    
    
} */